@page
@model Library.Web.Pages.Members.IndexModel
@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<h2>Members</h2>
<p><a asp-page="/Members/Create">+ Add new member</a></p>

<table>
    <thead><tr><th>Id</th><th>Name</th><th>Email</th></tr></thead>
    <tbody>
        @foreach (var m in Model.Members)
        {
            <tr>
                <td>@m.Id</td>
                <td>@m.FullName</td>
                <td>@m.Email</td>
            </tr>
        }
    </tbody>
</table>
